.l{
	float: left;
}
.r{
	float: right;
}
.clearfix:before,.clearfix:after {
    content: "";
	display: block;
	clear: both;
}
.clearfix {
    zoom: 1;
}	
.tc{
	text-align: center;
}
body{
	font-family: -apple-system-font, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;	
	font-size: 0.373rem;
	margin: 0.533rem 0.4rem 0.4rem;
}
header{
	width: 100%;
	font-size: 0.64rem;
	line-height: 1.4;
	font-weight: 400;
	text-align: center; 
}
.product_select{
	position: relative;
	margin: 0.72rem 0.427rem 0.373rem;
    padding: 0.4rem 0.427rem 0.213rem ;
    border-width: 0.027rem;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    box-shadow: rgb(165, 165, 165) 0.133rem 0.133rem 0.053rem;
    font-size: 0.4rem;
    font-family: inherit;
    text-align: center;
    text-decoration: inherit;
    color: rgb(160, 160, 160);
    background-color: rgb(255, 255, 240);	
}
#content{
	overflow: hidden;
}
.product_select_title{
	position: absolute;
	top: -0.4rem;
	width: 7.44rem;
	height: 0.8rem;
	line-height: 0.8rem;

}
.product_select_title span{
	display: inline-block;
	background: rgb(142, 201, 101);
   	color: white;
   	padding: 0 0.213rem; 
    box-shadow: rgb(165, 165, 165) 4px 4px 2px;
	vertical-align: middle;
}
.product_select p:nth-of-type(1){
	margin-top:5px ;
}

.split .seperate{
	width: 45%;
    border-width: 0.027rem;
    border-style: dotted;
    border-color: rgb(249, 110, 87);
}
/* .split .seperate.l{
margin-top: 0.053rem
}
.split .seperate.r{
margin-top: -0.053rem
} */
.split{
	position: relative;	
	height: 0.32rem;
}

.split .cube{
	position: absolute;
	top: -0.08rem;
	left: 50%;
	margin-left: -0.08rem;
	width: 0.16rem;
	height: 0.16rem;
	background: rgb(249, 110, 87);
	transform: rotate( 45deg );
}
.product_cycle{
    box-shadow: rgb(226, 226, 226) 0px 16px 1px -13px;
    line-height: 1;	
    color: white;
    background: rgb(249, 110, 87);
    padding: 0.267rem;
    font-size: 0.4rem;
}
.product_point{
	color: rgb(249, 110, 87);
	font-size: 1.7em;
	line-height: 1.4;
}
.product_classify{
	overflow: hidden;
	margin-top: 0.267rem;
	font-size: 0.373rem;
}
.bd_left, .bd_content{
	border-left: 1px solid #F36468;
	margin-left: 1.5rem;
	margin-top: 0rem;
}
.bd_left{
	height: 0.48rem;
}
.bd_content, .bd_title{
	height: 0.56rem;
}
.bd_title{
	color :rgb(249, 110, 87);	
}
.bd_title .bd_circle{
	height: 0.56rem;
	width: 0.56rem;
	border-radius: 50%;
	line-height: 0.56rem;
	box-sizing: border-box;
	border: 1px solid rgb(249, 110, 87);
	margin-left: 1.222rem;
}
.bd_title .bd_title_letter{
	height: 0.56rem;
	padding-left: 0.267rem;
	line-height: 0.56rem;
	box-sizing: border-box;
}
.bd_content_letter{
	height: 0.56rem;
	line-height: 0.56rem;
	box-sizing: border-box;
	color:  rgb(160, 160, 160);;
}
.bd_empty{
	height: 0.56rem;
	width: 0.56rem;
	line-height: 0.56rem;
	box-sizing: border-box;	
}
.repeat_wrap{
	margin-bottom: 0.267rem;
}

.border_contain{
	height: 0px;
	background:transparent;
    margin-right: 0.373rem;
    margin-left: 0.373rem;
    border-top: 0.6rem solid rgb(249, 110, 87);
    border-bottom: 0.6rem solid rgb(249, 110, 87);
    border-left: 0.56rem solid transparent !important;
    border-right: 0.56rem solid transparent !important;
}
.border_outer{ 
    height: 0px;
    border-width: 0.5rem;
    border-style: solid;
    border-color: rgb(255, 255, 255) transparent;
    margin-top:-0.5rem;
}

.border_inner{
	height: 0px;

    line-height: 0.88rem;
    border-top: 0.44rem solid rgb(249, 110, 87);
    border-bottom: 0.44rem solid rgb(249, 110, 87);
    border-left: 0.4rem solid transparent !important;
    border-right: 0.4rem solid transparent !important;
    margin-top:-0.44rem;	
}
.border_title{
 	color:#fff;
 	line-height:0.88rem;
 	height: 0.88rem;
 	background:rgb(249, 110, 87);
 	margin-top:-0.44rem; 
 	font-size: 0.4rem
}
#footer{
	color: #fff;
	margin-top: 0.347rem;
    margin-bottom: 0.133rem;
    padding: 0.2rem;
    background: rgb(142, 201, 101);
}

#footer .l {
	width: 6rem
}
#footer .r{
	width: 2.8rem;
	height:  2.8rem;
}
.footer_title{
	font-size: 0.48rem;
	margin-bottom: 10px;
}
#footer p{
	font-size: 0.373rem;
}
.connectUs{
	width: 6rem;
	font-size: 0.373rem;
}